<h1>Lists Index</h1>

<%= link_to 'New List', new_list_path %>
 
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>
 
  <% @lists.each do |list| %>
    <tr>
      <td><%= list.title %></td>
      <td><%= list.description %></td>
      <td><%= link_to 'Show', list %></td>
      <td><%= link_to 'Edit', edit_list_path(list) %></td>
      <td><%= link_to 'Destroy', list_path(list), method: :delete, data: {confirm: 'Really? Did you finish everything on this list?'} %></td>
    </tr>
  <% end %>
</table>
