<p>
  <strong>Title:</strong>
  <%= @list.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @list.description %>
</p>

<h3>Items</h3>
<%= render @list.items %>

<h3>Add an item</h3>
<%= render "items/form" %>

<%= link_to 'Edit List', edit_list_path(@list) %> |
<%= link_to 'Back to Lists', lists_path %>


